{% block sw_cms_block_netzp_powerpack6_parallax_preview %}
<div class="sw-cms-preview-netzp-powerpack6-parallax">
    <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">
    <div class="info">Parallax</div>
</div>
{% endblock %}

