{% sw_extends '@MyfavInquiry/storefront/myfav-inquiry/page/confirm/index.html.twig' %}

{% block product_list %}
    <div class="row">
        {% sw_include '@MyfavInquiry/storefront/myfav-inquiry/page/special-offers/product-list.html.twig' %}
    </div>
{% endblock %}
