{% block sw_cms_block_netzp_powerpack6_tile2 %}
    <div class="sw-cms-block-netzp-powerpack6-tile2">
        <slot name="column1">{% block sw_cms_block_netzp_powerpack6_tile2_column1 %}{% endblock %}</slot>
        <slot name="column2">{% block sw_cms_block_netzp_powerpack6_tile2_column2 %}{% endblock %}</slot>
        <div class="tile3"><slot name="column3">{% block sw_cms_block_netzp_powerpack6_tile2_column3 %}{% endblock %}</slot></div>
    </div>
{% endblock %}
