{% block sw_cms_block_netzp_powerpack6_collapse %}
    <div class="sw-cms-block-netzp-powerpack6-collapse">
        <slot name="content">{% block sw_cms_block_netzp_powerpack6_collapse_content %}{% endblock %}</slot>
    </div>
{% endblock %}
