{% block sw_brand_index %}
<sw-page class="sw-brand-index">
    {% block sw_brand_index_smart_bar_header %}
    <template #smart-bar-header>
        <h2>Brands</h2>
    </template>
    {% endblock %}

    {% block sw_brand_index_smart_bar_actions %}
    <template #smart-bar-actions>
        <sw-button variant="primary" :routerLink="{ name: 'santafatex.brands.create' }">
            Add Brand
        </sw-button>
    </template>
    {% endblock %}

    {% block sw_brand_index_content %}
    <template #content>
        <sw-entity-listing
            v-if="brands"
            :items="brands"
            :repository="brandRepository"
            :showSelection="false"
            :columns="columns"
            :isLoading="isLoading"
            detailRoute="santafatex.brands.detail">
        </sw-entity-listing>
    </template>
    {% endblock %}
</sw-page>
{% endblock %}

