{% block sw_cms_block_netzp_powerpack6_alert %}
    <div class="sw-cms-block-netzp-powerpack6-alert">
        <slot name="content">{% block sw_cms_block_netzp_powerpack6_alert_content %}{% endblock %}</slot>
    </div>
{% endblock %}
