{% block sw_cms_element_netzp_powerpack6_preview %}
<div class="sw-cms-el-preview-netzp-powerpack6-card">
    <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
</div>
{% endblock %}

