{% block sw_cms_element_netzp_powerpack6_counter_preview %}
    <div class="sw-cms-el-preview-netzp-powerpack6-counter">
        <sw-icon name="regular-check-circle" small></sw-icon>
        <h4>Counter</h4>
        <h2>10000</h2>
    </div>
{% endblock %}
