{% block sw_cms_block_netzp_powerpack6_card_preview %}
<div class="sw-cms-preview-netzp-powerpack6-card">
    <div class="sw-cms-preview-netzp-powerpack6-card">
        <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
    </div>
</div>
{% endblock %}

