{% block sw_cms_element_netzp_powerpack6_testimonial_preview %}
    <div class="sw-cms-el-preview-netzp-powerpack6-testimonial">
        <img :src="assetFilter('/administration/static/img/cms/preview_mountain_small.jpg')" alt="">

        <div class="media-body">
            <span style="font-size:130%;font-weight:bold">Lorem ipsum dolor</span><br>
            <div class="contents">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
            </div>
            <div class="meta">
                <b>Lorem ipsum</b>,
                <small>consetetur sadipscing elitr</small>
            </div>
        </div>
    </div>
{% endblock %}
