{% block sw_cms_el_component_viomanufacturercatalog %}
    <div class="sw-cms-el-component-viomanufacturercatalog">
        {{ $tc('sw-cms.elements.viomanufacturercatalog.label') }}
    </div>
{% endblock %}