{% for secondGroupOption in secondGroup.options %}
    {% set groupOptionId = null %}

    {% for optKey, value in variantMatrixArrayKeysAndValues %}
        {% set currentKey = firstGroupOption.id ~ '_' ~ secondGroupOption.id %}

        {% if currentKey == optKey %}
            {# variant key #}
            {% set key =  value %}
            {# option key #}
            {% set groupOptionId = currentKey %}
        {% endif %}
    {% endfor %}

    {% if groupOptionId != null %}
        {% set childProduct = children[variantMatrixArrayKeysAndValues[groupOptionId]] %}

        {% if dropdown %}
            <td class="variants-options-dropdown-selector">{% sw_include '@Storefront/storefront/biloba/article-variant-order-matrix/article-variant-order-matrix-dropdown-list.html.twig' with {'currentKey': currentKey, 'childProduct': childProduct, 'key': key} %}</td>
        {% else %}
            <td class="variants-options-input-selector">{% sw_include '@Storefront/storefront/biloba/article-variant-order-matrix/article-variant-order-matrix-input-fields.html.twig' with {'currentKey': currentKey, 'childProduct': childProduct, 'key': key} %}</td>
        {% endif %}
    {% else %}
        {# <td style="width:35%">&nbsp;</td> #}
    {% endif %}
{% endfor %}