{% block zen_component_form_zen_alert_text_only %}
    <div class="zen-alert-text-only">
        <mt-banner
            variant="info"
            hideIcon
        >
            <div v-html="$attrs.placeholder"></div>
        </mt-banner>
    </div>
{% endblock %}