{% block sw_cms_element_netzp_powerpack6_infobar_preview %}
    <div class="sw-cms-el-preview-netzp-powerpack6-infobar">
        <div class="item">
            <sw-icon name="regular-check-circle" small></sw-icon> Info
        </div>
        <div class="item">
            <sw-icon name="regular-check-circle" small></sw-icon> Info
        </div>
        <div class="item">
            <sw-icon name="regular-check-circle" small></sw-icon> Info
        </div>
    </div>
{% endblock %}

