{% block sw_cms_element_viomanufacturercatalog_preview %}
    <div class="sw-cms-el-preview-viomanufacturercatalog">
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
    </div>
{% endblock %}