{% block sw_cms_block_netzp_powerpack6_countdown %}
    <div class="sw-cms-block-netzp-powerpack6-countdown">
        <slot name="content">{% block sw_cms_block_netzp_powerpack6_countdown_content %}{% endblock %}</slot>
    </div>
{% endblock %}
