{% block sw_cms_block_netzp_powerpack6_testimonial %}
    <div class="sw-cms-block-netzp-powerpack6-testimonial">
        <slot name="content">{% block sw_cms_block_netzp_powerpack6_testimonial_content %}{% endblock %}</slot>
    </div>
{% endblock %}
