{% block sw_cms_block_netzp_powerpack6_imagetext4 %}
<div class="sw-cms-block-netzp-powerpack6-imagetext4">
    <div class="sw-cms-block-netzp-powerpack6-imagetext4__col1">
        <slot name="image1"></slot>
        <slot name="text1"></slot>
    </div>

    <div class="sw-cms-block-netzp-powerpack6-imagetext4__col2">
        <slot name="image2"></slot>
        <slot name="text2"></slot>
    </div>

    <div class="sw-cms-block-netzp-powerpack6-imagetext4__col3">
        <slot name="image3"></slot>
        <slot name="text3"></slot>
    </div>

    <div class="sw-cms-block-netzp-powerpack6-imagetext4__col4">
        <slot name="image4"></slot>
        <slot name="text4"></slot>
    </div>
</div>
{% endblock %}
