{% block sw_cms_preview_solid_ase_content_slider %}
    <div class="sw-cms-preview-solid-ase-content-slider">
        <div class="slide">
            <div class="content-container">
                <div class="content">
                    <p class="small-headline">Lorem ipsum</p>
                    <p>
                        <h2 class="headline">Lorem ipsum dolor sit amet</h2>
                    </p>
                    <p class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.</p>
                    <p class="btn btn-primary">Lorem ipsum</p>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="btn btn-primary">
                <mt-icon name="regular-long-arrow-left" />
            </div>
            <div class="btn btn-primary">
                <mt-icon name="regular-long-arrow-right" />
            </div>
        </div>
        <div class="nav">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
{% endblock %}
