{% block sw_cms_block_netzp_powerpack6_grid3 %}
    <div class="sw-cms-block-netzp-powerpack6-grid3">
        <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid3_column1 %}{% endblock %}</slot>
        <slot name="column2">{% block sw_cms_block_netzp_powerpack6_grid3_column2 %}{% endblock %}</slot>
        <slot name="column3">{% block sw_cms_block_netzp_powerpack6_grid3_column3 %}{% endblock %}</slot>
    </div>
{% endblock %}
