{% block sw_cms_block_netzp_powerpack6_map %}
    <div class="sw-cms-block-netzp-powerpack6-map">
        <slot name="content">{% block sw_cms_block_netzp_powerpack6_map_content %}{% endblock %}</slot>
    </div>
{% endblock %}
