{% block sw_cms_element_netzp_powerpack6_parallax_config %}
<div class="sw-cms-el-config-netzp-powerpack6-parallax">
    <sw-cms-mapping-field :label="$tc('sw-cms.netzp-powerpack6.elements.parallax.config.image')"
                          valueTypes="entity" entity="media"
                          v-model:config="element.config.media">

        <sw-media-upload-v2 variant="regular"
                            :uploadTag="uploadTag"
                            :source="previewSource"
                            :allowMultiSelect="false"
                            :default-folder="cmsPageState.pageEntityName"
                            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                            @media-upload-sidebar-open="onOpenMediaModal"
                            @media-upload-remove-image="onImageRemove" />

        <template #preview="{ demoValue }">
            <div class="sw-cms-el-config-parallax__mapping-preview">
                <img v-if="demoValue.url" :src="demoValue.url" alt="">

                <sw-alert class="sw-cms-el-config-parallax__preview-info" variant="info" v-else>
                    {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                </sw-alert>
            </div>
        </template>
    </sw-cms-mapping-field>

    <sw-upload-listener :upload-tag="uploadTag" auto-upload @media-upload-finish="onImageUpload" />

    <br>

    <sw-number-field :label="$tc('sw-cms.netzp-powerpack6.elements.parallax.config.height')"
                     numberType="int" :min="1" :max="100" :step="1"
                     v-model:value="element.config.height.value" />

    <sw-media-modal-v2
            variant="full"
            v-if="mediaModalIsOpen"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            :entityContext="cmsPageState.entityName"
            :allowMultiSelect="false"
            :initialFolderId="cmsPageState.defaultMediaFolderId"
            @media-upload-remove-image="onImageRemove"
            @media-modal-selection-change="onSelectionChanges"
            @modal-close="onCloseModal" />
</div>
{% endblock %}
