{% block sw_cms_section_action_select %}
    {% parent() %}
    <div v-if="hasVisibility || breakpointInfoNoSelection || breakpointInfoIsVisible" class="netzp-pp-section-breakpointinfo">
        <span v-if="hasVisibility" class="visibility">
            {{ visibilityInfo }}
        </span>

        <span v-if="breakpointInfoNoSelection" class="breakpoint warning">
            &mdash;
        </span>
        <span v-else-if="breakpointInfoIsVisible">
            <span v-for="breakpoint in getBreakpointInfo()" class="breakpoint">{{ breakpoint }}</span>
        </span>
    </div>
{% endblock %}
