{% for secondGroupOption in secondGroup.options %}
    {% set groupOptionId = null %}
    
    {% for optKey, value in variantMatrixArrayKeysAndValues %}
        {% set currentKey = firstGroupOption.id ~ '_' ~ secondGroupOption.id %}

        {% if currentKey == optKey %}
            {# variant key #}
            {% set key =  value %}
            {# option key #}
            {% set groupOptionId = currentKey %}
        {% endif %}
    {% endfor %}

    {% if groupOptionId != null %}
        {% set childProduct = children[variantMatrixArrayKeysAndValues[groupOptionId]] %}
        {% set currencyID = context.currency.id %}
        
        <td>
        {# include calculatedPrice #}
        {% sw_include "@Storefront/storefront/biloba/article-variant-order-matrix/includes/calculatedPrice.html.twig" with {"childProduct":childProduct} %}
        </td>
    {% else %}
        {# <td style="width:35%">&nbsp;</td> #}
    {% endif %}
{% endfor %}