{% block sw_cms_block_netzp_powerpack6_preview %}
<div class="sw-cms-preview-netzp-powerpack6-grid6">
    <div class="box-placeholder">&nbsp;</div>
    <div class="box-placeholder">&nbsp;</div>
    <div class="box-placeholder">&nbsp;</div>
    <div class="box-placeholder">&nbsp;</div>
    <div class="box-placeholder">&nbsp;</div>
    <div class="box-placeholder">&nbsp;</div>
</div>
{% endblock %}

