{% block zen_component_form_zen_alert_info %}
    <div class="zen-alert-info">
        <mt-banner variant="info">
            <div v-html="$attrs.placeholder"></div>
        </mt-banner>
    </div>
{% endblock %}