{% block sw_cms_block_netzp_powerpack6_grid2 %}
    <div class="sw-cms-block-netzp-powerpack6-grid2">
        <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid2_column1 %}{% endblock %}</slot>
        <slot name="column2">{% block sw_cms_block_netzp_powerpack6_grid2_column2 %}{% endblock %}</slot>
    </div>
{% endblock %}
