{% block sw_cms_block_netzp_powerpack6_infobar_preview %}
<div class="sw-cms-preview-netzp-powerpack6-infobar">
    <div class="item">
        <sw-icon name="regular-check-circle" small></sw-icon> &nbsp;Info
    </div>
    <div class="item">
        <sw-icon name="regular-check-circle" small></sw-icon> &nbsp;Info
    </div>
    <div class="item">
        <sw-icon name="regular-check-circle" small></sw-icon> &nbsp;Info
    </div>
</div>
{% endblock %}

