{% block sw_cms_element_netzp_powerpack6_parallax %}
    <div class="sw-cms-el-netzp-powerpack6-parallax">
        <img :src="mediaUrl" :style="getStyle" alt="">
        <div class="info">Parallax</div>
    </div>
{% endblock %}
