{% block sw_cms_el_component_produkt_zertifizierungen %}
    <div class="sw-cms-el-component-produkt-zertifizierungen">
        {{ $tc('sw-cms.elements.vio_product_zerts.label') }}
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
    </div>
{% endblock %}