{% block zen_component_form_zen_alert_translation %}
    <div class="zen-alert-info">
        <mt-banner
            variant="success"
            icon="regular-globe-stand"
        >
            <div v-html="$attrs.placeholder"></div>
        </mt-banner>
    </div>
{% endblock %}