{% block sw_cms_element_netzp_powerpack6_preview %}
<div class="sw-cms-el-preview-netzp-powerpack6-cta">
    <div class="netzp-cta-title">
        Lorem impsum!
    </div>
    <div class="netzp-cta-text">
        Lorem ipsum<br>
        lorem impsum<br>
        lorem impsum.
    </div>
    <div class="netzp-cta-button">
        Clicksum!
    </div>
</div>
{% endblock %}

