<?xml version="1.0" encoding="UTF-8"?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="api.santafatex.brands.list" path="/api/santafatex-brands" methods="GET">
        <default key="_controller">Santafatex\Brands\Controller\Admin\BrandController::listBrands</default>
    </route>

    <route id="api.santafatex.brands.create" path="/api/santafatex-brands" methods="POST">
        <default key="_controller">Santafatex\Brands\Controller\Admin\BrandController::createBrand</default>
    </route>

    <route id="api.santafatex.brands.detail" path="/api/santafatex-brands/{brandId}" methods="GET">
        <default key="_controller">Santafatex\Brands\Controller\Admin\BrandController::getBrand</default>
    </route>

    <route id="api.santafatex.brands.update" path="/api/santafatex-brands/{brandId}" methods="PATCH|PUT">
        <default key="_controller">Santafatex\Brands\Controller\Admin\BrandController::updateBrand</default>
    </route>

    <route id="api.santafatex.brands.delete" path="/api/santafatex-brands/{brandId}" methods="DELETE">
        <default key="_controller">Santafatex\Brands\Controller\Admin\BrandController::deleteBrand</default>
    </route>

    <route id="api.santafatex.brands.upload" path="/api/_action/santafatex-brands/upload" methods="POST">
        <default key="_controller">Santafatex\Brands\Controller\Admin\FileUploadController::uploadFile</default>
        <default key="_routeScope">
            <list>
                <string>api</string>
            </list>
        </default>
    </route>

</routes>
