{% block sw_cms_block_netzp_powerpack6_countdown_preview %}
<div class="sw-cms-preview-netzp-powerpack6-countdown">
    <h3>Countdown</h3>
    <div>12 Days 23 Hours 12 Minutes 07 Seconds.</div>
    <div class="btn">Clicksum!</div>
</div>
{% endblock %}

