{% block sw_cms_block_netzp_powerpack6_collapse_preview %}
<div class="sw-cms-preview-netzp-powerpack6-collapse">
    <div class="collapse">
        <div class="item">Lorem ipsum</div>
        <div class="item-container">.........</div>
        <div class="item">Lorem ipsum</div>
        <div class="item">Lorem ipsum</div>
    </div>
</div>
{% endblock %}

