{% sw_extends '@Storefront/storefront/component/privacy-notice.html.twig' %}

{% block component_privacy_dpi_checkbox %}
    <input type="checkbox"
           class="custom-control-input {% if formViolations.getViolations('/acceptedDataProtection') is not empty %} is-invalid{% endif %}"
           name="acceptedDataProtection"
           required="required"
           value="1"
           id="{{ customForm }}acceptedDataProtection"
           {% if data.get('acceptedDataProtection') %}checked="checked"{% endif %}>
{% endblock %}

{% block component_privacy_dpi_label %}
    <label class="custom-control-label no-validation"
           for="{{ customForm }}acceptedDataProtection">
        {{ "general.privacyNotice"|trans({
            '%url%': path('frontend.cms.page',{ id: config('core.basicInformation.privacyPage') })
        })|raw }}

        {{ "general.required"|trans|sw_sanitize }}
    </label>
{% endblock %}

