{% block sw_cms_block_netzp_powerpack6_grid4 %}
    <div class="sw-cms-block-netzp-powerpack6-grid4">
        <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid4_column1 %}{% endblock %}</slot>
        <slot name="column2">{% block sw_cms_block_netzp_powerpack6_grid4_column2 %}{% endblock %}</slot>
        <slot name="column3">{% block sw_cms_block_netzp_powerpack6_grid4_column3 %}{% endblock %}</slot>
        <slot name="column4">{% block sw_cms_block_netzp_powerpack6_grid4_column4 %}{% endblock %}</slot>
    </div>
{% endblock %}
