{% block sw_cms_element_produkt_zertifizierungen_preview %}
    <div class="sw-cms-el-preview-produkt-zertifizierungen-1">
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
        <img
                :src="'/administration/static/img/cms/preview_mountain_small.jpg' | asset"
                alt=""
        >
    </div>
{% endblock %}