{% block sw_cms_block_netzp_powerpack6_grid1 %}
    <div class="sw-cms-block-netzp-powerpack6-grid1">
        <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid1_column1 %}{% endblock %}</slot>
    </div>
{% endblock %}
