{% block sw_cms_block_netzp_powerpack6_imagetext4_preview %}
<div class="sw-cms-preview-netzp-powerpack6-imagetext4">
    <div class="sw-cms-preview-netzp-powerpack6-imagetext4__col1">
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__image">
            <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
        </div>
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__text">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-netzp-powerpack6-imagetext4__col2">
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__image">
            <img :src="assetFilter('/administration/static/img/cms/preview_glasses_large.jpg')" alt="">
        </div>
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__text">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-netzp-powerpack6-imagetext4__col3">
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__image">
            <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
        </div>
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__text">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="sw-cms-preview-netzp-powerpack6-imagetext4__col4">
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__image">
            <img :src="assetFilter('/administration/static/img/cms/preview_glasses_large.jpg')" alt="">
        </div>
        <div class="sw-cms-preview-netzp-powerpack6-imagetext4__text">
            <h2>Lorem</h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>
{% endblock %}
