{% block sw_cms_block_netzp_powerpack6_grid3a %}
    <div class="sw-cms-block-netzp-powerpack6-grid3a">
        <div class="column1">
            <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid3a_column1 %}{% endblock %}</slot>
        </div>
        <div class="column2">
            <slot name="column2">{% block sw_cms_block_netzp_powerpack6_grid3a_column2 %}{% endblock %}</slot>
        </div>
        <div class="column3">
            <slot name="column3">{% block sw_cms_block_netzp_powerpack6_grid3a_column3 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
