{# slice displays elements (index start, length) #}
{% for firstGroupOption in xAxis.options|slice(subTableIndex * viewportValue, viewportValue) %}
    {% set groupOptionId = null %}

    {% for optKey, value in variantMatrixArrayKeysAndValues %}
        {% set currentKey = firstGroupOption.id ~ '_' ~ secondGroupOption.id %}

        {% if currentKey == optKey %}
            {% set key =  value %}
            {% set groupOptionId = currentKey %}
        {% endif %}
    {% endfor %}

    {% if groupOptionId != null %}
        {% set childProduct = children[variantMatrixArrayKeysAndValues[groupOptionId]] %}
        {% set currencyID = context.currency.id %}

        {% if dropdown %}
            <td>{% sw_include '@Storefront/storefront/biloba/article-variant-order-matrix/article-variant-order-matrix-dropdown-list.html.twig' with {'currentKey': currentKey, 'childProduct': childProduct, 'key': key} %}<br></td>
        {% else %}
            <td>{% sw_include '@Storefront/storefront/biloba/article-variant-order-matrix/article-variant-order-matrix-input-fields.html.twig' with {'currentKey': currentKey, 'childProduct': childProduct, 'key': key} %}<br></td>
        {% endif %}
    {% else %}
        <td></td>
    {% endif %}
{% endfor %}