{% block sw_cms_element_netzp_powerpack6_alert_preview %}
    <div class="sw-cms-el-preview-netzp-powerpack6-alert">
        <sw-alert variant="info" appearance="default" :showIcon="false" :closable="false">
            <h3>Lorem!</h3>
            Lorem ipsum dolor.
        </sw-alert>
    </div>
{% endblock %}
