<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_element_assignment_preview %}
    <div class="sw-cms-el-preview-blog-assignment">
        <h4>
            {{ $tc('sas-blog.elements.assignment.preview.label.assignmentTitle') }}
        </h4>
        <div class="sw-cms-el-preview-blog-assignment__slider">
            <mt-icon
                name="regular-chevron-left"
                size="10"
            />
            <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
            {% block sw_cms_element_assignment_preview_box %}
            <div class="sw-cms-el-preview-blog-assignment-box">
                <div class="sw-cms-el-preview-blog-assignment-box__image">
                    <img
                        :src="assetFilter('/administration/static/img/cms/preview_glasses_small.jpg')"
                        alt="{{ $tc('sas-blog.elements.assignment.preview.label.assignmentTitle') }}"
                    >
                </div>
                <div class="sw-cms-el-preview-blog-assignment-box__info">
                    <div
                        class="sw-cms-el-preview-blog-assignment-box__skeleton-left"
                    ></div>
                    <div
                        class="sw-cms-el-preview-blog-assignment-box__skeleton-right"
                    ></div>
                </div>
                <div class="sw-cms-el-preview-blog-assignment-box__action"></div>
            </div>
            {% endblock %}
            <mt-icon
                name="regular-chevron-right"
                size="10"
            />
        </div>
    </div>
{% endblock %}
