{% block sw_cms_element_finishing_price_table_preview %}
    <div class="sw-cms-el-preview-finishing-price-table">
        {{ $tc('sw-cms.elements.finishing-price-table.label') }}
    </div>
{% endblock %}
