{% block sw_cms_block_netzp_powerpack6_counter_preview %}
<div class="sw-cms-preview-netzp-powerpack6-counter">
    <sw-icon name="regular-check-circle" small></sw-icon>
    <h3>Counter</h3>
    <div>10000</div>
</div>
{% endblock %}

