{% block sw_cms_block_netzp_powerpack6_imagecompare_preview %}
<div class="sw-cms-preview-netzp-powerpack6-imagecompare">
    <div class="sw-cms-preview-netzp-powerpack6-imagecompare__image1">
        <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
    </div>
    <div class="sw-cms-preview-netzp-powerpack6-imagecompare__image2">
        <img :src="assetFilter('/administration/static/img/cms/preview_glasses_large.jpg')" alt="">
    </div>
</div>
{% endblock %}

