{% block sw_cms_block_netzp_powerpack6_imagetext2 %}
<div class="sw-cms-block-netzp-powerpack6-imagetext2">
    <div class="sw-cms-block-netzp-powerpack6-imagetext2__left">
        <slot name="left-image"></slot>
        <slot name="left-text"></slot>
    </div>

    <div class="sw-cms-block-netzp-powerpack6-imagetext2__right">
        <slot name="right-image"></slot>
        <slot name="right-text"></slot>
    </div>
</div>
{% endblock %}
