{% block sw_cms_block_netzp_powerpack6_cta_preview %}
<div class="sw-cms-preview-netzp-powerpack6-cta">
    <div class="netzp-cta-title">
        Lorem impsum!
    </div>
    <div class="netzp-cta-text">
        .........<br>.........
    </div>
    <div class="netzp-cta-button">
        Clicksum!
    </div>
</div>
{% endblock %}

