{% block sw_cms_element_netzp_powerpack6_html_preview %}
    <div class="sw-cms-el-preview-netzp-powerpack6-html">
        <pre>
&lt;html&gt;
    &lt;style&gt;
        ...
    &lt;/style&gt;
    &lt;b&gt;...&lt;/b&gt;
&lt;/html&gt;
        </pre>
    </div>
{% endblock %}
