{% block sw_cms_block_netzp_powerpack6_infobar %}
    <div class="sw-cms-block-netzp-powerpack6-infobar">
        <slot name="content">{% block sw_cms_block_netzp_powerpack6_infobar_content %}{% endblock %}</slot>
    </div>
{% endblock %}
