{% block sw_cms_block_netzp_powerpack6_grid2ar %}
    <div class="sw-cms-block-netzp-powerpack6-grid2ar">
        <div class="column1">
            <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid2ar_column1 %}{% endblock %}</slot>
        </div>
        <div class="column2">
            <slot name="column2">{% block sw_cms_block_netzp_powerpack6_grid2ar_column2 %}{% endblock %}</slot>
        </div>
    </div>
{% endblock %}
