{% block sw_cms_element_netzp_powerpack6_preview %}
<div class="sw-cms-el-preview-netzp-powerpack6-imagecompare">
    <div class="netzp-imagecompare-image1">
        <img :src="assetFilter('/administration/static/img/cms/preview_camera_small.jpg')" alt="">
    </div>
    <div class="netzp-imagecompare-image2">
        <img :src="assetFilter('/administration/static/img/cms/preview_glasses_large.jpg')" alt="">
    </div>
</div>
{% endblock %}

