{% block sw_cms_element_netzp_powerpack6_map_preview %}
    <div class="sw-cms-el-preview-netzp-powerpack6-map">
        <img :src="assetFilter('/netzppowerpack6/map-preview.png')" alt="">
    </div>
{% endblock %}
