{% block sw_cms_block_netzp_powerpack6_grid6 %}
    <div class="sw-cms-block-netzp-powerpack6-grid6">
        <slot name="column1">{% block sw_cms_block_netzp_powerpack6_grid6_column1 %}{% endblock %}</slot>
        <slot name="column2">{% block sw_cms_block_netzp_powerpack6_grid6_column2 %}{% endblock %}</slot>
        <slot name="column3">{% block sw_cms_block_netzp_powerpack6_grid6_column3 %}{% endblock %}</slot>
        <slot name="column4">{% block sw_cms_block_netzp_powerpack6_grid6_column4 %}{% endblock %}</slot>
        <slot name="column5">{% block sw_cms_block_netzp_powerpack6_grid6_column5 %}{% endblock %}</slot>
        <slot name="column6">{% block sw_cms_block_netzp_powerpack6_grid6_column6 %}{% endblock %}</slot>
    </div>
{% endblock %}
