<sw-card :isLoading="isLoading">
    <template #title>
        <h3>{{ $tc('myfav-inquiry.detail.offerCardTitle') }} <span v-if="offers">({{ offers.length }})</span></h3>
    </template>
    <div v-if="!offers || offers.length === 0" style="padding: 20px; text-align: center;">
        No offers found
    </div>
    <sw-data-grid
        v-else
        :compact-mode="false"
        :dataSource="offers"
        :columns="offerColumns"
        :isLoading="isLoading"
        :showSelection="false">
        <template #column-createdAt="{ item }">
            <template v-if="item.createdAt">
                {{ item.createdAt.substr(0, 10) }}
            </template>
            <template v-else>
                -
            </template>
        </template>
        <!-- <template #column-createdAt="{ item }">
            <template v-if="item.createdAt">
                {{ item.createdAt | date }}
            </template>
            <template v-else>
                -
            </template>
        </template> -->
        <template #actions="{ item }">
            <sw-context-menu-item
                :disabled="!acl.can('myfav_inquiry.viewer')"
                @click="downloadDocument(item)">
                {{ $tc('myfav-inquiry.detail.downloadOffer') }}
            </sw-context-menu-item>
            <sw-context-menu-item
                :disabled="!acl.can('myfav_inquiry.deleter')"
                variant="danger"
                @click="deleteOffer(item)">
                {{ $tc('myfav-inquiry.detail.deleteOffer') }}
            </sw-context-menu-item>
        </template>
    </sw-data-grid>
</sw-card>
